:root {
--main-bg-color: #a5a3a2;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
}

.searchBlock {
    width: 49%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background: var(--main-bg-color);
    border-radius: 10px;
}

.details {
    width: 49%;
    background: var(--main-bg-color);
    border-radius: 10px;
}


@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .searchBlock {
        width: 100%;
    }

    .details {
        margin-top: 10px;
        width: 100%;
    }
}