.searchBlock {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.searchTools {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.searchTools input {
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;
}

.searchTools button {
    height: 30px;
    width: 50px;
    margin-left: 10px;
    background: #75e074;
    border: none;
    border-radius: 5px;
}

.searchTools button:hover{
    cursor: pointer;
}

.searchTools button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
