.appContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

@media screen and (max-width: 360px) {
    .appContainer {
        width: 95%;
    }
}