.detailsBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleBlock {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.titleBlock h3 {
    text-align: center;
}

.details {
    width: 95%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #c0cac0;
    border-radius: 10px;
}

.details img {
    width: 300px;
    height: 300px;
}

.details .followers {
    font-size: 20px;
    font-weight: 500;
}

.details .followers span {
    font-size: 25px;
    font-weight: 700;
}